<!DOCTYPE html>
<html lang="pt-BR">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Login - VelozRent</title>

   <link rel="stylesheet" href="css/bootstrap.min.css">
   <link rel="stylesheet" href="css/style.css">
</head>

<body class="main-layout login-body">

    <div class="login-container">
       <h2 class="login-title">Login</h2>
       <form action="#" method="POST">
          <input type="text" class="contactus login-input" placeholder="Email" name="email" required>
          <input type="password" class="contactus login-input" placeholder="Senha" name="senha" required>
          <button type="submit" class="find_btn login-button">Entrar</button>
       </form>
       <div class="login-links">
          <p>Não tem uma conta? <a href="cadastro.html">Cadastre-se</a></p>
       </div>
    </div>
    
    </body>
    
</html>
